{% extends "layout.html" %}

{% block style %}
<link href="static/login.css" rel="stylesheet">  
{% endblock %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <h2> {{name}}</h2>
            <h2> {{Symbol}}</h2>
            <h2> {{price}} </h2>
        

        </div><br>
        <input type="hidden" value="{{name}}" name="name">
        <input type="hidden" value="{{price}}" name="price">
        <input type="hidden" value="{{id}}" name="id">
        <input type="hidden" value = "{{symbol}}" name="symbol">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="number" placeholder="Number of Stocks" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}
