{% extends "layout.html" %}
{% block main %}
    <h1>     {{info['lastClose']}} </h1>
    <h1> {{name}}</h1>
    <h1> {{id}}</h1>

    
    <form action="/buy_stocks" method="post">
        <input type="hidden" name="stock_price" value="{{info['lastClose']}} ">
        <input type="hidden" name="stock_name" value="{{name}} ">
        <input type="hidden" name="stock_id" value="{{id}} ">
        <input type="hidden" name="symbol" value="{{symbol}}">
        <button type="submit">Buy</button>
    </form>

    <form action="/sell" method="get">
        <input type="hidden" name="stock_price" value="{{info['lastClose']}} ">
        <input type="hidden" name="stock_name" value="{{name}} ">
        <input type="hidden" name="stock_id" value="{{id}} ">
        <input type="hidden" name="symbol" value="{{symbol}}">
        <button type="submit">Sell</button>
    </form>

    

{% endblock %}
