{% extends "layout2.html" %}
{% block style %}
<link href="static/login.css" rel="stylesheet"> 
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" name="username" autofocus required class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">#</span>
            </div>
          </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}


