{% extends "layout.html" %}

{% block style %}
<link href="static/login.css" rel="stylesheet"> </link>
{% endblock %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <h4> Ticker: {{symbol}}</h4>
        <h4> Name: {{name}}</h4>
        <h4> Price: {{price}}</h4>

          <br>
          <br>
          <input type="hidden" name="symbol" value="{{symbol}}">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">you own: {{owned}}</span>
            </div>
            <input type="text" class="form-control" name="shares" placeholder="Shares" aria-label="Shares" aria-describedby="basic-addon1">
          </div>
          <br>
          
        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>
{% endblock %}