{% extends "layout.html" %}

{% block style %}
<link href="static/login.css" rel="stylesheet"> </link>
{% endblock %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <h2> {{symbol}}</h2>
        <h2> {{name}}</h2>
        <h2> {{price}}</h2>

          <br>
          <br>
          <input type="hidden" name="symbol" value="{{symbol}}">
          <input type="text" name="shares" placeholder="Shares" autocomplete="off" autofocus>
          <br>
        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>
{% endblock %}